/*CADASTRO*/
body{
    background-color: #1b1f27; 
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-cadastro{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    height: 355px;
    width: 320px;
    padding: 35px;
    border-radius: 10px;
}

.cadastro form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cadastro input{
    margin-top: 10px;
    color:#cbd0f7;
    background-color: #252a34;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.cadastro img{
    width: 65px;
    height: auto;
}

input::placeholder{
    color:#cbd0f7;
    font-size: 14px;
    
}

form [type='submit']{
    display: block;
    margin-top: 20px;
    background-color: #5568fe;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

form [type='submit']:hover {
    background-color: #4056d7;
}

p{
    color: #cbd0f7;
}

a{
    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
}